{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="height: 500px;" class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 col-10 bg-light border rounded">
            <h2 class="mt-4 mb-4 text-center">Log In</h2>
            <form action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="mx-auto btn btn-block btn-dark" 
                    type="submit">
                    Log In
                </button>
            </form>
            <hr/>
            <p class="mt-1">Need an <a href="{% url 'accounts:register' %}">account</a>?</p>
        </div>
    </div>
</div>

{% endblock %}