{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div style="height: 500px;" class="container">
    {% include 'django_messages.html' %}
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 col-10 bg-light border rounded">
            <h4 class="mt-4 mb-4 text-left">Log In</h4>
            <form action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="mx-auto btn btn-block btn-dark" 
                    type="submit">
                    Log In
                </button>
            </form>
            <hr/>
            <p class="mt-1">Need an <a href="{% url 'accounts:register' %}">account</a>?</p>
            <p class="mt-1">Forgot <a href="{% url 'accounts:password_reset' %}">password</a>?</p>
        </div>
    </div>
</div>

{% endblock %}